:root{ 
    --brand-primary: #533117;
    --brand-primary-light: #F6813F;
    --brand-secondary: #F0E9DB; 
    --white-text: #ffffff;
    --black-text: #000000;
    --grey-text: #A29F9F;
}
body{ 
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    margin-bottom: 0;
    cursor: pointer;
    background-color: #F0E9DB;
   
}
/* header */

.off-canvas-wrapper-inner{
  overflow: hidden;
}
.row{ 
  display: flex;
}
.side-nav{
  margin: 0;
  list-style:none;
  /* width: 257px; */
  height: 100vh;
  background-color: var(--brand-primary);
}

.side-nav li {
  margin:45px 70px 20px 60px;
}

.side-nav li a{
  color: var(--brand-secondary);
  font-weight:600;
  font-size: 18px;
  font-family: 'poppins', sans-serif;
 
}

#task a {
  color: #ECBF9D;
}
.side-nav li a i {
  padding-right: 30px;
}

.side-nav li a img {
  padding-right: 25px;
}

.top-bar-left{
  display: flex;
  height: 100vh;
  list-style:none;
  background-color: #F0E9DB;
  position: absolute;
  left: 1220px;

}
.top-bar-left li {
  margin-top: 50px;
}
.top-bar-left li a{
  padding: 40px;
  font-family: 'Poppins',sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.side-nav2{
  margin-top: 590px;
  margin-left:-540px;
  list-style:none;
  width: 230px;
  background-color: var(--brand-primary);
  display: inline-block;
}

.side-nav2 li {
  /* margin:45px 70px 20px 60px; */
  display: inline-block;
}

.side-nav2 li a i{
  color: var(--brand-secondary);
  font-size: 18px;
  padding-right: 10px;
  margin-left: 40px;
 
}

 hr{
  border: 1px solid #533117;
  opacity: 30%;
  width: 1250px;
  margin-top: 20px;
  align-items: center;
  position: relative;
  background-color: #F0E9DB;
} 
.cpyryt{
  font-family: 'Poppins',sans-serif;
  font-size: 18px;
  color: #F0E9DB;
  margin-left: 35px;
}
.cpyryt span{
  font-weight: 700;
}

#logo {
    display: inline-block;
    width: 400px;
    height: 100px;
    margin:75px 70px 0 60px;
  }
/* Main section */
.card{
  width: 448px;
  height: 100px;
  background-color: #F0E9DB;

}
.pr-col{
   margin-left:10px;
   margin-top: -30px;
   background-color: #F0E9DB;
   margin-bottom: 100px;
}
.card-divider img{
  width: 90px;
  height: 80px;
}

.card-section h2{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #533117;
  position: relative;
  top:-80px;
  left: 130px;
}

.cd-bd h2{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #533117;
  margin-top:-20px
 
}
.card-section i{
  font-size: 16px;
  color: #533117;
  position: relative;
  top:-110px;
  left: 370px;

}
.li-h{

  border: 1px solid #533117;
  opacity: 30%;
  width: 450px;
  margin-top: 20px;
  
  /* align-items: center; */
  /* position: relative;
  top: -1140px;
  left: 400px; */

}
/* .callout.primary{ 
  background-color:#F0E9DB;
} */

.callout.primary h1{
  font-family: 'Poppins', sans-serif;
  font-size: 26px;
  font-weight: 700;
  margin-left: 50px;
  margin-top:20px;
  color: #533117;
}
.ern-bd{
  font-family: 'Poppins', sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: #533117;
  margin-left: 700px;
  margin-top: -80px;
}

.ld-img{
  width: 100px;
  height: 100px;
}

.ld-img1{
  width: 100px;
  height: 90px;
  margin-top: 5px;

}

.ld-img2{
  width: 70px;
  height: 70px;
  margin-top: 20px;

}
.cd-bd{
  border: 2px solid rgb(83, 49, 23, 0.15);
  border-radius: 10px;
  box-sizing: content-box;
  margin-left: 115px;
  margin-top: 10px;
}
.btn{
  border: 1px solid #F6813F;
  background-color: #F6813F;
  font-family: 'Poppins',sans-serif;
  font-size: 16px;
  color: #F0E9DB;
  padding: 10px;
  border-radius: 20px;
  position: relative;
  top:-45px;
  left: 350px;
}
.card-section img{
   position: relative;
  top:-170px;
  left: 370px;

}
.card-section p{
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #533117;
  position: relative;
  top:-80px;
  left: 130px;
}

/* .bg-white{
  background-color: #ffffff;
} */

#wscroll{
  max-height: 500px;
  overflow-y: scroll;
}
/* #wscroll2{
  max-height: 500px;
  overflow-y: scroll;
} */


  /* Small only */
@media screen and (max-width: 39.9375em) {
  .card{
    width: 448px;
    height: 100px;
    background-color: #F0E9DB;
  
  }
  .row{
    display: table;
  }
}

/* Medium and up */
@media screen and (min-width: 40em) {
  .callout.primary h1{
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    font-weight: 700;
    margin-left: 500px;
    margin-top:20px;
    margin-bottom: -30px;
    color: #533117;
  }
  .pr-col{
    margin-left:350px;
    margin-top: -30px;
    background-color: #F0E9DB;
    margin-bottom: 100px;
 }
.ern-bd{
  font-family: 'Poppins', sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: #533117;
  position: relative;
  left: 400px;
  top: -30px; 
} 
.btn{
  border: 1px solid #F6813F;
  background-color: #F6813F;
  font-family: 'Poppins',sans-serif;
  font-size: 16px;
  color: #F0E9DB;
  padding: 10px;
  border-radius: 20px;
  position: relative;
  top: -40px;
  left: 1200px;
}

}


/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .card{
    width: 480px;
    height: 150px;
    background-color: #F0E9DB;
  
  }
  .row{
    display: table;
  }

  #wscroll{
    max-height: 500px;
    overflow-y: scroll;
  }
  .pr-col{
    margin-left:250px;
    margin-top: -30px;
    background-color: #F0E9DB;
    margin-bottom: 100px;
 }

  .cd-bd{
    border: 2px solid rgb(83, 49, 23, 0.15);
    border-radius: 10px;
    box-sizing: content-box;
    margin-left: 250px;
    margin-top: 10px;
  }
  .btn{
    border: 1px solid #F6813F;
    background-color: #F6813F;
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
    color: #F0E9DB;
    padding: 10px;
    border-radius: 20px;
    position: relative;
    top:930px;
    left: 580px;
  }

  .card-section img{
    position: relative;
   top:-170px;
   left: 370px;
 
 }
 .card-section h2{
  font-family: 'Poppins', sans-serif;
  font-size: 26px;
  font-weight: 600;
  color: #533117;
  position: relative;
  top:-80px;
  left: 130px;
}

.cd-bd h2{
  font-family: 'Poppins', sans-serif;
  font-size: 26px;
  font-weight: 600;
  color: #533117;
  margin-top:-20px
 
}
 .card-section p{
   font-family: 'Poppins', sans-serif;
   font-size: 18px;
   font-weight: 300;
   color: #533117;
   position: relative;
   top:-80px;
   left: 130px;
 }
 .callout.primary h1{
  font-family: 'Poppins', sans-serif;
  font-size: 26px;
  font-weight: 700;
  margin-left: 400px;
  margin-top:20px;
  margin-bottom: -30px;
  color: #533117;
}
.ern-bd{
  font-family: 'Poppins', sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: #533117;
  position: relative;
  left: -100px;
  top: 930px; 
}
}


/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}